@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  font-size: 75%;
  scroll-behavior: smooth;
}

a {
  color: var(--a-color);
  font-size: 0.9rem;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
}

* {
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif;
}

p {
  font-size: 1.16rem;
}

body.dark {
  --bg-color: #111;
  --text-color: #fff;
  --border-color: #222;
  --a-color: #fff;
  --a-hover-color: #222;
}

body.light {
  --bg-color: #fff;
  --text-color: #000;
  --border-color: #efefef;
  --a-color: #000;
  --a-hover-color: #fff;
}

body {
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background: var(--bg-color);
  color: var(--text-color);
  padding: 10px 5%;
  position: relative;
}

.container {
  background: var(--bg-color);
  margin: 0 auto;
  padding-top: 90px;
}

/* ================= HEADER ================= */
.header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 5%;
  left: 5%;
  padding: 20px 0;
  border-bottom: 2px solid var(--border-color);
}

.header .me-name {
  font-size: 1.2rem;
  color: var(--text-color);
}

/* ================= DESKTOP NAV ================= */
.header .nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

/* chaque lien ressemble à un bouton */
.header .nav ul li a {
  display: block;
  border: 2px solid var(--border-color);
  padding: 6px 12px;
  border-radius: 10px;
  transition: 0.5s ease-in-out all;
  color: var(--a-color);
  font-size: 0.9rem;
}

/* hover */
.header .nav ul li a:hover,
.theme-btn:hover,
.menu-toggle:hover {
  background-color: var(--text-color);
  border: 2px solid var(--text-color);
  color: var(--a-hover-color);
}

.theme-btn:hover i,
.menu-toggle:hover i {
  color: var(--a-hover-color);
}

.header .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.theme-btn,
.menu-toggle {
  border: 2px solid var(--border-color);
  padding: 5px;
  border-radius: 100%;
  transition: 0.5s ease-in-out all;
}

.theme-btn i,
.menu-toggle i {
  color: var(--text-color);
  font-size: 0.9rem;
}

.footer {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 70px;
}

/* ============ NAV MOBILE ============ */
.nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--bg-color);
  border-top: 2px solid var(--border-color);
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  display: none;
}

/* active */
.nav.display-menu-toggle {
  display: flex;
}

.nav ul {
  flex-direction: column;
  gap: 15px;
}

/* ============== HERO ============================= */

.hero {
  display: flex;
  align-items: center;
  background: var(--bg-color);
  gap: 10px;
  padding-top: 50px;
}

.hero-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--border-color);
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.intro-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 10px;
  position: relative;
}
.intro-title img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
}

.intro-subtitle {
  margin-bottom: 20px;
  max-width: 100%;
}

/* Socials */
.intro-socials {
  display: flex;
  justify-content: start;
  gap: 15px;
  flex-wrap: wrap;
}

.intro-socials a {
  font-size: 1.6rem;
  color: var(--a-color);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out all;
}

.intro-socials a:hover {
  background: var(--text-color);
  color: var(--a-hover-color);
  border-color: var(--text-color);
}

/* ======================== ABOUT ========================= */

.about {
  padding-top: 70px;
}
.about .about-title {
  margin-bottom: 20px;
  min-width: 200px;
  font-weight: 700;
}

.about .about-title span {
  border-bottom: 2px solid var(--text-color);
}

/* ======================== ABOUT ========================= */

.education {
  padding-top: 40px;
}
.education .education-title {
  margin-bottom: 20px;
  min-width: 200px;
  font-weight: 700;
}
.education .education-title span {
  border-bottom: 2px solid var(--text-color);
}

.education-description h2 {
  margin-bottom: 10px;
}
.education-description span {
  padding: 10px 20px;
  background-color: green;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: inline-block;
}
.education-description p {
  padding-top: 20px;
  font-size: 1.3rem;
}
